../.idea/FlashLove_FirebaseApi.iml
../.idea/modules.xml
../.idea/workspace.xml
firebase-debug.log
node_modules/
FlashLoveApi-970000a59b3e.json
flashloveapi-firebase-adminsdk-t0o9i-bb5d4444ce.json
FlashLoveApi-5a4bbce04c85.json
functions/serviceAccount.json
.idea/FlashLove_FirebaseApi.iml
.idea/modules.xml
.idea/workspace.xml
.firebaserc
functions/uploads/
